<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.group_three.dao.EEmpInfoMapper">

<!--    <select id="getRoleById" resultType="com.aaa.entity.EEmpInfo">-->
<!--        select * from e_emp_info where rid in(-->
<!--            select id from e_role where id=#{id})-->
<!--    </select>-->
    <select id="getRole" resultType="java.util.Map">
        select e.id,e.ename,e.gmt_create,e.gmt_modified,e.telephone,e.age,e.state,e.is_deleted,e.rid,r.role_name
        from e_emp_info e
        LEFT JOIN e_role r
        ON e.rid=r.id
        ${ew.customSqlSegment}
        and e.is_deleted=0
        group by  e.id,e.ename,e.gmt_create,e.gmt_modified,e.telephone,e.age,e.state,e.is_deleted,e.rid,r.role_name
    </select>
</mapper>
