<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.group_three.dao.EMessageMapper">

    <select id="getRole" resultType="java.util.Map">
        select m.gmt_date,m.stype,m.scontend,m.is_deleted,r.role_name
        from e_message m
        INNER JOIN e_role r
        ON m.eid=r.id
    </select>
</mapper>
