<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.group_three.dao.GBrandMapper">

    <select id="getAll" resultType="java.util.Map">
        select g_brand.id,g_brand.brandname,sortname,g_brand.check_content,g_brand.status
        from g_brand,g_sort
        where g_brand.sortid=g_sort.id and g_brand.is_deleted=0
        <if test="brands.id !=null">
            and g_brand.id =#{brands.id}
        </if>
        <if test="brands.sortid !=null">
            and g_brand.sortid =#{brands.sortid}
        </if>
        <if test="brands.status !=null">
            and g_brand.status =#{brands.status}
        </if>

    </select>
</mapper>
