<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.group_three.dao.GGoodsMapper">

    <select id="getGoodsAll" resultType="map">
        select g.id,g.img,g.gname,g.remark,g.price from b_business_info b,g_goods g
        where b.id = g.bid and b.id = #{id} and g.status = 0
    </select>

    <select id="getGoodsByGoodsid" resultType="java.util.Map">
        select g.img, g.price, g.gname, g.remark, u.unitname, b.id busid, b.sname, b.bicon, g.bid
        from g_goods g
            inner join b_business_info b on b.id = g.bid
            left join g_unit u on u.id = g.unitid
        where g.id = #{id}
    </select>

    <select id="getGoodsSellNum" resultType="java.lang.String">
        select
        from g_goods g, o_stock s
        where g.id =
    </select>

</mapper>
