<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.group_three.dao.TbArticleMapper">

    <select id="getArticleById" resultType="java.util.List">

        SELECT a.id,a.nav_id,a.art_title,a.art_pic,a.art_desc
        from tb_article a
                 INNER JOIN tb_bottom_article b
                            ON a.nav_id=b.id
    </select>
    <select id="getArticle" resultType="java.util.List">
        select * from tb_article where nav_id=#{navId}
    </select>
</mapper>
