<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.group_three.dao.TbZoneBusinessMapper">
    <select id="findBusiness" resultType="java.util.Map">
        select z.bid,z.zone_id,b.bicon,b.sname, min(g.price) minprice, sum(s.sell_num) sales
        from b_business_info b
             inner join g_goods g on g.bid = b.id
             left join tb_zone_business z on z.bid = b.id
             left join o_stock s on s.goods_id = g.id
        group by z.bid, z.zone_id, b.bicon, b.sname
    </select>
</mapper>
