<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.group_three.dao.TbZoneBusinessMapper">
    <select id="findBusiness" resultType="java.util.Map">
        select z.bid,z.zone_id,b.bicon,b.sname, min(g.price) minprice, sum(s.sell_num) sales
        from b_business_info b
             inner join g_goods g on g.bid = b.id
             left join tb_zone_business z on z.bid = b.id
             left join o_stock s on s.goods_id = g.id
        where b.status = 0 and b.state = 0
        group by z.bid, z.zone_id, b.bicon, b.sname ,z.sort
        order by z.sort
    </select>

    <select id="findBusinessByName" resultType="java.util.Map">
        select b.id, b.bicon, b.sname, min(g.price) minprice, sum(s.sell_num) sales
        from b_business_info b
            inner join g_goods g on g.bid = b.id
            left join o_stock s on s.goods_id = g.id
        where sname like CONCAT('%',#{chandVal},'%')
        group by b.id
    </select>

        <!--商户端-首页管理-专区管理—专区店铺-查询所有-->
    <select id="getAllZone" resultType="java.util.Map">
        select zb.id,zb.gmt_create,zb.gmt_modified,zb.is_disable,zb.is_deleted,zb.zone_id,zb.bid,zb.sort,zb.putaway,s.sortname,bb.sname,min(g.price) gprice,bb.bicon, sum(o.sell_num)sales
        from tb_zone_business zb
            inner join g_sort s
                        on zb.zone_id=s.id
            inner join b_business_info bb
                       on zb.bid=bb.id
            inner join g_goods g
                       on g.bid=bb.id
            inner join o_stock o
                       on g.id=o.goods_id
            ${ew.customSqlSegment} and zb.is_deleted = 0
            group by zb.id,zb.gmt_create,zb.gmt_modified,zb.is_disable,zb.is_deleted,zb.zone_id,zb.bid,zb.sort,zb.putaway,s.sortname,bb.sname,bb.bicon
    </select>
</mapper>
