<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.group_three.dao.TMenuMapper">

    <select id="getMenuByRids" resultType="com.aaa.entity.TMenu">

        select * from t_menu where id in(
            SELECT mid from t_role_menu where rid in

            <foreach collection="list" item="rid" separator="," open="(" close=")">
                #{rid}
            </foreach>

            )

    </select>
</mapper>
